		#form	{
				background-color: #eaeaea;
				padding: 1em;
			}
			
			#form p {
			font-size: .8em;
			}
			
			#form .panel	{
				padding-left: .5em;
				padding-right: .5em;
			}

		#form input	{
			font-size: 1em;
			margin: .5em;
		}
		
		#form .button	{
			font-size: 1em;
			margin-top: .9em;
		}
		
	#form>p>a	{
		color: #1e7c2d;
		}
		
	label	{
		color: #1e7c2d;
		font-weight:600;
		}
		
	#form p	{
		font-size: 1em;
		color: #1e7c2d;
	}

	#form h2	{
		color: #fff;
		padding-bottom: 0;
	}
	
	.form-tag-h3	{
		font-size: .2em;
		color: #1e7c2d;
	}
	
	#form h5	{
		color: #fff;
		font-weight: bold;
	}
	
	#form a	{
		color: #fff;
	}
	.disclaimer{
		text-align: center;
		padding-left: 2em;
		padding-right: 2em;
	}

// END Form Styles //